/*Main*/
main{
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}

main nav {
    text-align: center;
}

main nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0;
    margin: 20px 0;
}
/****************************/

header img{
    border-radius:15%;
    border: solid rgb(143, 98, 98);
    width: 120px;
}

header img:hover{
    transform: scale(1.02) translate(5px, -5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

main .lien:hover{
    background-color: rgb(206, 195, 195);
    color: rgb(97, 76, 79);
}
