main{
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

img{
    border-radius:15%;
    border: solid rgb(143, 98, 98);
}

ul {
    list-style: none;
    margin-left: 0;
}
