
main nav ul li {
    display: flex;
    flex-wrap: wrap;
    background: rgb(71, 57, 59);
    flex: 0 1 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
main li:hover{
    transform : scale(1.02) translate(2px, 2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

li article p {
    font-size: 0.9rem;
    color : rgb(189, 173, 173);
}

li article img{
    width: 92%;
    height: auto;
}


main nav ul {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 200px;
    vertical-align: top;
    gap: 20px;
    justify-content: center;
}
